* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Mono", monospace;
}

body {
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
}
header {
    grid-column-start: 1;
    grid-column-end: 3;
}
.sectio-semaforo {
    grid-row-start: 0;
    grid-row-start: 2;
}
@media screen and (max-width: 768px) {
    body {
        max-width: 400px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60px 1fr 1fr;
        }
    header {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}